// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

.invalid-feedback {
  display: block;
}

.form-group {
  &.is-invalid {
    .form-control,
    .custom-select,
    .input-group {
      @extend .is-invalid;
    }
  }
}

// Headers

.hero {
  border-radius: 0;

  &--home {
    background: $primary url('../img/bg/hero-1-bg.jpg');

    .hero__title {
      @extend .h1;
      color: $white;
    }

    .hero__tagline {
      @extend .h3;
      color: $gray-500;
    }
  }

  &--section {
    background: $primary url('../img/bg/hero-1-bg.jpg');

    .hero__title {
      @extend .h1;
      color: $white;
    }

    .hero__tagline {
      @extend .h4;
      color: $gray-500;
    }
  }
}

// Error pages

.error-page {
  margin-top: 120px;

  .h1 {
    font-size: 12em;
  }

  .h3 {
    margin-top: 32px;
    line-height: 1.8em;
  }

  .btn {
    margin-top: 32px;
  }
}